# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea

# Python
__pycache__/
*.pyc
.venv/
.env
instance/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# Eval artifacts
.deepeval/
